<div class="nav-wrapper" ng-controller="AppCtrl">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>


        <li><a md-button aria-label="meanu" href="#/page/buildings"><i class="zmdi zmdi-home"></i><span data-translate="BUILDINGS"></span> </a></li>


        <li ng-show="main.selected_building>0">
            <a md-button aria-label="meanu" href="#"><span data-translate="BUILDING"></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/page/building/view/{{main.selected_building}}"><span data-translate="VIEW_BUILDING"></span> </a></li>
                <li ng-show="hasPermission('modifyPermission')"><a md-button aria-label="meanu" href="#/page/building/edit/{{main.selected_building}}"><span data-translate="EDIT_BUILDING"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/page/building/areas/{{main.selected_building}}"><span data-translate="AREAS"></span> </a></li>

            </ul>
        </li>

        <li ng-show="main.selected_building>0"><a md-button aria-label="meanu" href="#/page/building/topview/{{main.selected_building}}"><span data-translate="TOPVIEW"></span> </a></li>
        <li ng-show="main.selected_building>0"><a md-button aria-label="meanu" href="#/page/building/structure/{{main.selected_building}}"><span data-translate="STRUCTURE"></span> </a></li>
        <li ng-show="main.selected_building>0"><a md-button aria-label="meanu" href="#/page/building/sensors/{{main.selected_building}}"><span data-translate="SENSORS"></span> </a></li>
        <li ng-show="main.selected_building>0"><a md-button aria-label="meanu" href="#/page/building/anomalies/{{main.selected_building}}"><span data-translate="ANOMALIES"></span> </a></li>
        
        <li ng-show="main.selected_building>0 && hasPermission('modifyPermission')">
            <a md-button aria-label="meanu" href="#/page/building/rules/{{main.selected_building}}"><span data-translate="RULE_ENGINE"></span> </a></li>
        <li ng-show="main.selected_building>0">
          <a md-button aria-label="meanu" href="#/page/building/notifications/{{main.selected_building}}">
            <span data-translate="NOTIFICATIONS"></span> 
            <span class="badge badge-info">{{recommendations}}</span>
          </a>
        </li>
        <li ng-show="main.selected_building>0">
           <a md-button aria-label="meanu" href="#/form"><span data-translate="COMPARISON"></span></a>
           <ul>
                <li><a md-button aria-label="meanu" href="#/page/building/comparison/{{main.selected_building}}"><i class="fa fa-circle"></i><span data-translate="in_the_same_school"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/page/building/school_compare/{{main.selected_building}}"><i class="fa fa-circle"></i><span data-translate="with_other_schools"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/page/building/school_sensors/{{main.selected_building}}"><i class="fa fa-circle"></i><span data-translate="multiple_sensors"></span></a></li>
               <li><a md-button aria-label="meanu" href="#/page/building/multiple_resources/{{main.selected_building}}"><i class="fa fa-circle"></i><span data-translate="multiple_resources"></span></a></li>
               
           </ul>
        </li>

        
        <li><a md-button aria-label="meanu" href="#/page/help"><i class="fa fa-info"></i><span data-translate="contact_us_sidebar"></span> </a></li>

    </ul>
    <div class="social_images" style="bottom:120px;">
        <div class="row">
            <div class="col-sm-12">
                <img src="/images/Gaia_SocialMedia.png" style="max-width: 100%"/>
            </div>
        </div>
      <img src="images/facebook_group_image.png" class="social_1" ng-click="openNewWindow('https://www.facebook.com/groups/430658993982993')"/>
      <img src="images/facebook_icon.png" class="social_2" ng-click="openNewWindow('https://www.facebook.com/EUGAIAProject/')"/>
      <img src="images/youtube_icon.png" class="social_3" ng-click="openNewWindow('https://www.youtube.com/watch?v=IiN2nITSpGw&list=PLUMQocOUND_4rL1wga9q7wj69Am61KePv')"/>
    </div>

    
</div>