<div class="page" ng-controller="SiteAnomaliesController" >
<ngp-piwik ngp-set-js-url="http://piwic.gaia-project.eu/piwik.js" ngp-set-tracker-url="http://piwic.gaia-project.eu/piwik.php" ngp-set-site-id="1"> </ngp-piwik>
    <div class="row" style="margin-bottom:10px">
        <div class="col-md-8">
            <h2 class="section-header">{{site.name}}</h2>
        </div>
        <div class="col-md-4">
            <div layout="row" layout-align="end center">
                <md-button class="md-accent md-raised" ng-click="goToDashboard()"><span data-translate="DASHBOARD"></span></md-button> &nbsp;
                <md-button class="md-accent md-raised" ng-click="goToEdit()"><span data-translate="EDIT_BUILDING"></span></md-button>
            </div>
        </div>
    </div>   
    <div class="row" ng-show="no_anomalies_text_visible"><span data-translate="NO_AVAILABLE_ANOMALIES"></span> </div>
    <div class="row" ng-init="getAnomalies()">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <section class="table-flip-scroll">
                        <table class="table table-bordered table-striped cf no-margin">
                            <thead class="cf">
                                <tr>
                                    <th>Id</th>
                                    <th class="numeric"><span data-translate="AREA"></span></th>
                                    <th class="numeric"><span data-translate="TAGS"></span></th>
                                    <th class="numeric"><span data-translate="ACTIONS"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="anomaly in anomalies">
                                    <td>{{anomaly.date}}</td>
                                    <td class="numeric">{{anomaly.type}}</td>
                                    <td class="numeric">{{anomaly.value}}</td>
                                    <td class="numeric">{{anomaly.resourceId}}</td>
                                    <td>
                                        <span class="label label-default" data-translate="VIEW" ng-click="openAnomaly(anomaly)"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>