<div class="page" ng-controller="SiteController" >
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h2 class="section-header">{{site.name}}</h2>
        </div>
        <div class="col-sm-12 col-md-6">
            <div layout="row" layout-align="end center">
                <md-button class="md-accent md-raised" ng-click="goToTopView()"><span data-translate="TOPVIEW"></span></md-button>&nbsp;
                <md-button class="md-accent md-raised" ng-click="goToAreas()"><span data-translate="AREAS"></span></md-button>&nbsp;
                <md-button class="md-accent md-raised" ng-click="goToSensors()">Sensors</md-button>&nbsp;
                <md-button class="md-accent md-raised" ng-click="goToMeasurements()">Add Measurements</md-button>&nbsp;                
                <md-button class="md-accent md-raised" ng-click="goToEdit()">Edit Building</md-button>&nbsp;
                <md-button class="md-accent md-raised" ng-click="goToAnomalies()"><span data-translate="ANOMALIES"></span></md-button>
            </div>
        </div>
    </div>

    
    <div class="row" style="margin-top:60px">    
        <div class="col-sm-12">
            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading"><span data-translate="energy_cons_per_area"></span></div>
                <div class="panel-body">
                    <div data-echarts data-options="line3.options" style="height: 350px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Energy Consumption Per SubSite</div>
                <div class="panel-body">
                    <div data-echarts data-options="bar4.options" style="height: 350px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Energy Consumption Per Category </div>
                <div class="panel-body">
                    <div data-echarts data-options="bar2.options" style="height: 350px;"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Energy Consumption per week Day</div>
                <div class="panel-body">
                    <div data-echarts data-options="bar3.options" style="height: 350px;"></div>
                </div>
            </div>
            
        </div>
        <!-- <div class="col-md-6">
        
             <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Basic Column</div>
                <div class="panel-body">
                    <div data-echarts data-options="bar1.options" style="height: 350px;"></div>
                </div>
            </div>
        
        
        
        
        </div> -->
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Energy Consumption per weekday prior and after using GAIA</div>
                <div class="panel-body">
                    <div data-echarts data-options="bar5.options" style="height: 350px;"></div>
                </div>
            </div>
            
        </div>
    </div>

    <script type="text/ng-template" id="addMeasurements.html">
                            <div class="modal-header">
                                <h3>Add Measurement</h3>
                            </div>
                            <div class="modal-body">
                               <div class="select_measurement_type">
                                    <s
                               </div>
                            </div>
                            <div class="modal-footer">
                                <button ui-wave class="btn btn-flat btn-default" ng-click="cancel()">Cancel</button>
                                <button ui-wave class="btn btn-flat btn-primary" ng-click="ok()">OK</button>
                            </div>
                        </script>

</div>