<div class="page" ng-controller="SiteEditController">
    <div class="saved"><span data-translate="UPDATED"></span></div>
    <div class="row">
        <div class="col-sm-12">
            <h2 class="section-header">{{school.name}}</h2>
        </div>
    </div>



    <div class="row ui-section" style="margin-top:10px">
        	
         <div class="row ui-section">
        <div class="col-md-12">
        <form class="form-horizontal" role="form">
            <section class="panel panel-default">
                <div class="panel-body padding-xl">
                    <uib-tabset class="ui-tab">
                        <uib-tab heading="{{language.general_characteristic}}">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-5 control-label"><span data-translate="SchoolName"></span></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="inputEmail3" placeholder="School Name" ng-model="school.name">
                                        </div>
                                    </div>

                                     <div class="form-group">
                                        <label for="Orientation" class="col-sm-5 control-label"><span data-translate="Energy_types_available"></span></label>
                                        <div class="col-sm-7">
                                            <md-checkbox  ng-model="jjson.available_electricity" aria-label="Electricity"> <span data-translate="Electricity"></span> </md-checkbox>
                                            <md-checkbox  ng-model="jjson.available_gas" class="md-primary" aria-label="Gas"> <span data-translate="Gas"></span> </md-checkbox>
                                            <md-checkbox  ng-model="jjson.available_petrol" class="md-warn" aria-label="Petrol"> <span data-translate="Petrol"></span> </md-checkbox>
                                        </div>
                                    </div>                              
                                
                                    <div class="form-group">
                                        <label for="ConsumptionMeterSerialNumber" class="col-sm-5 control-label"><span data-translate="Is_there_an_automated_thermostat_installed"></span></label>
                                        <div class="col-sm-7">
                                            <md-switch  aria-label="Switch 1" ng-model="jjson.thermostat_installed"> <span data-translate="Yes"></span> </md-switch>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Threshold" class="col-sm-5 control-label"><span data-translate="Which_is_the_threshold_value"></span></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="Threshold" ng-model="jjson.threshold" placeholder="20">
                                        </div>
                                    </div>
                                     


                                    <div class="form-group">
                                        <label for="ConsumptionMeter" class="col-sm-5 control-label"><span data-translate="Aretheheatingandcoolingsystemsservicedregularly"></span></label>
                                        <div class="col-sm-7">
                                            <md-switch  aria-label="Switch 12" ng-model="jjson.serviced_regularly"> <span data-translate="Yes"></span> </md-switch>
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <label for="ConsumptionMeter" class="col-sm-5 control-label"><span data-translate="Aretheheatingandcoolingsystemtubesinsulated"></span></label>
                                        <div class="col-sm-7">
                                            <md-switch  aria-label="Switch 12" ng-model="jjson.tubes_insulated"> <span data-translate="Yes"></span></md-switch>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-5 control-label"><span data-translate="Serial_number_of_the_consumption_meter"></span></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="inputPassword3" ng-model="jjson.consumption_meter_serial_number" placeholder="Serial number of the consumption meter">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-12 col-md-6">
                                    
                                
                                    <div class="form-group">
                                        <label for="Orientation" class="col-sm-5 control-label"><span data-translate="Type_of_heating_system_energy_source_used"></span></label>
                                        <div class="col-sm-7">
                                            <md-radio-group class="ui-md-radio-group-inline" ng-model="jjson.type_of_heating">
                                                <md-radio-button value="Furnaces"><span data-translate="Furnaces"></span></md-radio-button><br/>
                                                <md-radio-button value="Boilers"><span data-translate="Boilers"></span></md-radio-button><br/>
                                                <md-radio-button value="Heat_Pumps"><span data-translate="Heat_Pumps"></span></md-radio-button>    <br/>                                        
                                                <md-radio-button value="Gas_Fired_Space_Heaters"><span data-translate="Gas_Fired_Space_Heaters"></span></md-radio-button><br/>
                                                <md-radio-button value="Electric_Space_Heaters"><span data-translate="Electric_Space_Heaters"></span></md-radio-button><br/>
                                                <md-radio-button value="Wood_Burning_and_Pellet_Stoves"><span data-translate="Wood_Burning_and_Pellet_Stoves"></span></md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                                          
                                 <div class="form-group">
                                    <label for="Orientation" class="col-sm-5 control-label"><span data-translate="Type_of_cooling_system_energy_source_used"></span></label>
                                    <div class="col-sm-7">
                                        <md-radio-group class="ui-md-radio-group-inline radio2" ng-model="jjson.type_of_cooling_systen" >
                                            <md-radio-button value="1"><span data-translate="Central_Air_Conditioners"></span></md-radio-button><br/>
                                            <md-radio-button value="2"><span data-translate="Room_Air_Conditioners"></span></md-radio-button><br/>
                                            <md-radio-button value="3"><span data-translate="Evaporative_Coolers"></span></md-radio-button><br/>
                                            <md-radio-button value="4"><span data-translate="Ductless_Mini_Split_Air_Conditioners"></span></md-radio-button><br/>
                                        </md-radio-group>
                                    </div>
                                </div>
                               
                                 <div class="form-group">
                                    <label for="CoolingSystem" class="col-sm-5 control-label"><span data-translate="Is_there_cooling_system_installed"></span></label>
                                    <div class="col-sm-7">
                                        <md-switch  aria-label="Switch 2" ng-model="jjson.cooling_installed"> <span data-translate="Yes"></span> </md-switch>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="ConsumptionMeterSerialNumber" class="col-sm-5 control-label"><span data-translate="Is_there_an_automated_thermostat_installed_for_the_cooling_system"></span></label>
                                    <div class="col-sm-7">
                                        <md-switch  aria-label="Switch 12" ng-model="jjson.cooling_thermostat_installed"> <span data-translate="Yes"></span> </md-switch>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Threshold" class="col-sm-5 control-label"><span data-translate="Which_is_the_threshold_value"></span></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="Threshold" placeholder="20" ng-model="jjson.cooling_threshold_value">
                                    </div>
                                </div>
                                 
                                
                               
                               

                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="{{language.construction_characteristics}}">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="building_build_year" class="col-sm-5 control-label"><span data-translate="Which_year_was_the_building_built"></span></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="age" placeholder="Year" ng-model="jjson.construction_year">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="People" class="col-sm-5 control-label"><span data-translate="People"></span></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="People" placeholder="People" ng-model="school.people">
                                        </div>
                                    </div>
                                   
                                     <div class="form-group">
                                        <label for="Orientation" class="col-sm-5 control-label"><span data-translate="Orientation"></span></label>
                                        <div class="col-sm-7">
                                            <md-radio-group class="ui-md-radio-group-inline"  ng-model="jjson.orientation">
                                                <md-radio-button value="West"><span data-translate="West"></span></md-radio-button>
                                                <md-radio-button value="Southweast"><span data-translate="Southweast"></span></md-radio-button>
                                                <md-radio-button value="South"><span data-translate="South"></span></md-radio-button>                                            
                                                <md-radio-button value="Southeast"><span data-translate="Southeast"></span></md-radio-button>
                                                <md-radio-button value="East"><span data-translate="East"></span></md-radio-button>
                                                <md-radio-button value="ΝorthEastern"><span data-translate="Νorth-eastern"></span></md-radio-button>
                                                <md-radio-button value="North"><span data-translate="North"></span></md-radio-button>                                            
                                                <md-radio-button value="Νorthwest"><span data-translate="Νorthwest"></span></md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    

                    <uib-tab heading="{{language.resources}}">
                        <div class="row">
                            <div class="col-sm-12">
                                <div layout="row" layout-align="end center">
                                    <md-button class="md-accent md-raised" ng-click="addExtraChart()"><span data-translate="ADD_EXTRA_CHART"></span></md-button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            


                                <div ng-show="add_a_chart_visible_form" class="new_chart_class">
                                    <div class="row">
                                        <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="new_chart_name" class="col-sm-5 control-label"><span data-translate="CHART_NAME"></span></label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" id="new_chart_name" ng-model="new_chart.name">
                                            </div>
                                        </div>
                                        </div>
                                        <div class="col-sm-6">
                                         <div class="form-group">
                                            <label for="Orientation" class="col-sm-5 control-label"><span data-translate="CHART_SENSOR"></span></label>
                                            <div class="col-sm-7">
                                                    <md-select ng-model="new_chart.resource_id">
                                                        <md-option ng-repeat="resource in available_resources" value="{{resource.id}}">
                                                            {{resource.uri}}
                                                        </md-option>
                                                    </md-select>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="row text-right">
                                        <md-button class="md-accent md-raised" ng-click="cancel_new_chart()"><span data-translate="CANCEL"></span></md-button>
                                        <md-button class="md-accent md-raised" ng-click="save_new_chart()"><span data-translate="SAVE"></span></md-button>
                                    </div>
                                </div>
                            


                            <div class="col-sm-12">
                                    <div class="form-group" ng-repeat="ch in jjson.extra_charts">

                                        <label for="building_build_year" class="col-sm-12 col-md-2 control-label"><span data-translate="DELETE" ng-click="removeThisChart(ch)" class="delete_label"></span>
                                        {{ch.name}}</label>
                                        <div class="col-sm-12 col-md-4">                                                
                                                <md-select ng-model="ch.resource_id">
                                                    <md-option ng-repeat="resource in available_resources" value="{{resource.id}}">
                                                        {{resource.uri}}
                                                    </md-option>
                                                </md-select>                                            
                                        </div>
                                        <div class="col-sm-12 col-md-4">                                                
                                                <md-select ng-model="ch.step">
                                                    <md-option ng-repeat="step in available_steps" value="{{step.text}}">
                                                        {{step.name}}
                                                    </md-option>
                                                </md-select>                                            
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="building_build_year" class="col-sm-12 col-md-2 control-label"><span data-translate="Please_select_the_Resource_for_Energy_Consumption"></span></label>
                                        <div class="col-sm-12 col-md-4">                                                
                                                <md-select ng-model="jjson.energy_consumption_resource">
                                                    <md-option ng-repeat="resource in available_resources" value="{{resource.id}}">
                                                        {{resource.uri}}
                                                    </md-option>
                                                </md-select>                                            
                                        </div>
                                        <div class="col-sm-12 col-md-4">                                                
                                                <md-select ng-model="jjson.energy_consumption_resource_step">
                                                    <md-option ng-repeat="step in available_steps" value="{{step.text}}">
                                                        {{step.name}}
                                                    </md-option>
                                                </md-select>                                            
                                        </div>
                                    </div>
                                  
                            </div>
                           
                        </div>
                        </uib-tab>
                    </uib-tabset>
                </div>

                    <div class="col-sm-12" style="margin-top:20px">
                        <div class="form-group">
                            <div class="col-sm-offset-2 text-right col-sm-10">
                                <md-button type="submit" class="md-raised md-primary btn-w-md" ng-click="saveBuilding()"><span data-translate="SAVE"></span></md-button><div class="divider"></div>
                            </div>
                        </div>
                    </div>
            </section>
        </form>
                    
        </div>
    </div>
    </div>
</div>