<div class="page page-top-view" data-ng-controller="SiteTopViewController">
    <div class="row">
    	<div class="col-sm-12">	
    		<div layout="row" layout-align="end center">
    			<input type="button" id="btnSave" value="Save PNG"/>
                <!-- <md-button class="md-accent md-raised" ng-click="createClass()"><span data-translate="ADD_AREA"></span></md-button>&nbsp; -->
            </div>
    	</div>
    </div>
    <div class="row" id="widget">
        <div class="col-md-12" style="width:100%;min-height:1000px">          

          	<div ng-repeat="area in building.areas" class="draggable class ui-widget-content" on-last-repeat 
                 ng-style="area.style">
                            
          		<div class="class_measurements">
					<ul>
						<li ng-repeat="sensor in area.sensors">{{sensor.name+": "+sensor.metrics.latest+" "+sensor.value_type}}</li>
					</ul>
          		</div>
  				<div class="class_name">{{area.name}}</div>  				
			</div>

	
		
        </div>
    </div>

</div>

<script>
$("#btnSave").click(function() { 
        html2canvas($("#widget"), {
            onrendered: function(canvas) {
                theCanvas = canvas;
                document.body.appendChild(canvas);

                // Convert and download as image 
                Canvas2Image.saveAsPNG(canvas); 
                /*$("#img-out").append(canvas);*/
                // Clean up 
                //document.body.removeChild(canvas);
            }
        });
    });
</script>