<div class="page" ng-controller="SiteController" >
    <div class="row">
        <div class="col-sm-12">
            <h2 class="section-header">{{building.details.item.name}}</h2>
        </div>
        <div class="col-sm-12">
            <div layout="row" layout-align="end center">
                <md-button class="md-accent md-raised" ng-click="goToTopView()"><span data-translate="TOPVIEW"></span></md-button>&nbsp;
                <md-button class="md-accent md-raised" ng-click="goToAreas()"><span data-translate="AREAS"></span></md-button>&nbsp;
                <md-button class="md-accent md-raised" ng-click="goToSensors()"><span data-translate="SENSORS"></span></md-button>&nbsp;
                <md-button class="md-accent md-raised" ng-click="goToMeasurements()"><span data-translate="AddMeasurements"></span></md-button>&nbsp;                
                <md-button class="md-accent md-raised" ng-click="goToEdit()"><span data-translate="EDIT_BUILDING"></span></md-button>&nbsp;
                <md-button class="md-accent md-raised" ng-click="goToAnomalies()"><span data-translate="ANOMALIES"></span></md-button>&nbsp;
                <md-button class="md-accent md-raised" ng-click="goToComparison()"><span data-translate="COMPARISON"></span></md-button>
            </div>
        </div>
    </div>

    
    <div class="row" style="margin-top:60px">    
        
        <div class="col-sm-12">
            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading"><span data-translate="energy_cons_per_area"></span></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div data-echarts data-options="line3.options" style="height: 350px;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="col-sm-12 watt_count">{{average_per_day+" "+measurementUnit}}</span>
                            <span class="col-sm-12 school_name"><span data-translate="average_per_day"></span></span>
                        </div>
                        <div class="col-sm-6">
                            <span class="col-sm-12 watt_count">{{average_per_month+" "+measurementUnit}}</span>
                            <span class="col-sm-12 school_name"><span data-translate="average_per_month"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        
        <div ng-repeat="chart in building.extra_charts" class="col-sm-6">
            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">{{chart.name}}</div>
                <div class="panel-body">
                    <div data-echarts id="{{chart.resource_id}}" data-options="chart.options" style="height: 350px;"></div>
                </div>
            </div>
        </div>
        
     

        <!-- <div class="col-md-8">
            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Energy Consumption Per SubSite</div>
                <div class="panel-body">
                    <div data-echarts data-options="bar4.options" style="height: 350px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Energy Consumption Per Category </div>
                <div class="panel-body">
                    <div data-echarts data-options="bar2.options" style="height: 350px;"></div>
                </div>
            </div>

        </div> -->
    </div>

    <div class="row">
     <!--    <div class="col-md-12">

            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Energy Consumption per week Day</div>
                <div class="panel-body">
                    <div data-echarts data-options="bar3.options" style="height: 350px;"></div>
                </div>
            </div>
            
        </div> -->
        <!-- <div class="col-md-6">
        
             <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Basic Column</div>
                <div class="panel-body">
                    <div data-echarts data-options="bar1.options" style="height: 350px;"></div>
                </div>
            </div>
        
        
        
        
        </div> -->
    </div>

 <!--    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Energy Consumption per weekday prior and after using GAIA</div>
                <div class="panel-body">
                    <div data-echarts data-options="bar5.options" style="height: 350px;"></div>
                </div>
            </div>
            
        </div>
    </div> -->

   

</div>