<div class="page" ng-controller="SiteSensorsController" >
    <div class="row">
        <div class="col-md-8">
            <h2 class="section-header"></h2>
        </div>
        <div class="col-md-4">
            <div layout="row" layout-align="end center">
                <md-button class="md-accent md-raised" ng-click="goToDashboard()">Dashboard</md-button> &nbsp;
                <md-button class="md-accent md-raised" ng-click="goToEdit()">Edit Building</md-button>
            </div>
        </div>
    </div>   

    <div class="row">
        <div class="col-sm-12">
            <div class="row area_box" ng-repeat="area in building.areas">
            <h2 class="area_title">{{area.name}}</h2>
            <div style="text-align: center;margin-bottom: 10px" ng-show="area.sensors==0">The area has not assigned sensors</div>
            <div class="col-sm-6 col-md-3 col-lg-2" style="margin-bottom: 5px" ng-repeat="sensor in area.sensors" ng-click="goToSensor(sensor.id)">
                <div class="sensorbox">
                    <div class="panel-heading">{{sensor.name}}</div>
                        <div class="panel-body">
                            <h5 class="latest_value">Latest value</h5>
                            <h4>{{sensor.meatrics.latest+" "+sensor.value_type}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>