<div class="page" ng-controller="SensorController" >
	<div class="row" style="margin-bottom: 10px">
        <div class="col-sm-12">
            <h2 class="section-header">{{sensor.details.name}}</h2>
        </div>
    </div>



<div layout="row" layout-align="end center" class="layout-align-end-center layout-row" style="background: white;padding: 16px">

    <div class="form-group">
        <label for="building_build_year" class="col-sm-12 control-label"><span data-translate="FROM_TIME"></span></label>
        <div class="col-sm-12" style="background: white">
            <md-datepicker ng-model="first_period_from_time" md-placeholder="Enter date"></md-datepicker>
        </div>
    </div>
    <div class="form-group">
        <label for="building_build_year" class="col-sm-12 control-label"><span data-translate="TO_TIME"></span></label>
        <div class="col-sm-12" style="background: white">
            <md-datepicker ng-model="first_period_to_time" md-placeholder="Enter date"></md-datepicker>
        </div>
    </div>
    <div class="form-group">
        <label for="granularity" class="col-sm-12 control-label"><span data-translate="GRANULARITY"></span></label>
        <div class="col-sm-12">                                        
            <md-select ng-model="selected_granularity">
                <md-option ng-repeat="gran in granularity_values" value="{{gran.text}}">
                    {{gran.name}}
                </md-option>
            </md-select>                              
        </div>
    </div>
     <md-button class="md-accent md-success" ng-click="update()"><span data-translate="UPDATE"></span></md-button>             
</div>

    <div class="row">                         
        <div class="col-sm-12">
        	<div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-body">
                    <div data-echarts data-options="sensor_measurements.options" style="height: 350px;"></div>
            	</div>
            </div>
        </div>
    </div>
</div>