<div class="page" ng-controller="SensorController" >
	<div layout="row" layout-align="end center">
	    <md-button class="md-accent md-raised" ng-click="goToTopView()"><span data-translate="TOPVIEW"></span></md-button>&nbsp;
	    <md-button class="md-accent md-raised" ng-click="goToAreas()"><span data-translate="AREAS"></span></md-button>&nbsp;
	    <md-button class="md-accent md-raised" ng-click="goToSensors()">Sensors</md-button>&nbsp;
	    <md-button class="md-accent md-raised" ng-click="goToMeasurements()">Add Measurements</md-button>&nbsp;                
	    <md-button class="md-accent md-raised" ng-click="goToEdit()">Edit Building</md-button>&nbsp;
	    <md-button class="md-accent md-raised" ng-click="goToAnomalies()"><span data-translate="ANOMALIES"></span></md-button>
	</div>
    <div class="row">
        <div class="col-sm-12">
        	
            	<h3 class="section-header">{{sensor.details.name}}</h3>
           
        </div>
        <div class="col-sm-12">
        	<div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-body">
                    <div data-echarts data-options="sensor_measurements.options" style="height: 350px;"></div>
            	</div>
        </div>
    </div>
</div>